{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'images/scp-foundation-logo.png' %}"
    />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <title>Anomaly Control</title>
    {% block head %}{% endblock %}
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar">
      <div class="navbar-left">
        <a href="{% url 'home' %}" class="logo">
          <img src="{% static 'images/anomaly-control-logo.svg' %}" alt="Anomaly Control Logo" />
        </a>
      </div>

      <div class="navbar-center">
        <img src="{% static 'images/scp-foundation-logo.png' %}" alt="SCP Foundation Logo" class="scp-logo" />
      </div>

      <div class="navbar-right">
        <ul class="nav-links">
          <li><a href="{% url 'entity_index' %}">Entities</a></li>
          <li><a href="{% url 'incident_index' %}">Incidents</a></li>
          <li><a href="{% url 'report_index' %}">Reports</a></li>
          {% if user.is_authenticated %}
            <li>
              <form id="logout-form" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="logout-btn">Log out</button>
              </form>
            </li>
          {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'home' %}">Login</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
